---
import Base from "@layouts/Base.astro";
import { getTaxonomy, getSinglePage, taxonomyFilter } from "@utils/getAllTags";
import { deslugify } from "@utils/slug";

export async function getStaticPaths() {
  const categories = await getTaxonomy("blog", "categories");
  return categories.map((category) => ({
    params: { category: category.slug },
  }));
}

const { category } = Astro.params;
const posts = await getSinglePage("blog");
const filterByCategory = taxonomyFilter(posts, "categories", category);
---

<Base>
  <h1 class="text-3xl font-bold mb-8 capitalize">Categoría: {deslugify(category)}</h1>
  <div class="mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-16">
    {filterByCategory?.map((post) => (
      <article class="flex w-full flex-col items-start">
        {/* Sección de la imagen */}
        <div class="rounded-lg block overflow-hidden mb-4">
          {post.data.heroImage && (
            <a href={`/blog/${post.slug}/`}>
              <figure class="w-auto h-auto md:h-[150px] object-cover">
                <img
                  class="transition duration-300 ease-in-out hover:scale-110"
                  src={post.data.heroImage}
                  alt={post.data.title}
                  width={960}
                  height={480}
                  decoding="async"
                  loading="lazy"
                />
              </figure>
            </a>
          )}
        </div>
        <h2 class="mt-3 text-xl font-semibold leading-6 text-zinc-900 dark:text-white group-hover:text-zinc-600">
          <a href={`/blog/${post.slug}/`}>
            {post.data.title}
          </a>
        </h2>

        <p class="mt-5 line-clamp-3 text-sm leading-6 text-zinc-600">
          {post.data.description}
        </p>
        {post.data.categories &&
         post.data.categories.some((cat) => cat.toLowerCase() === "laboratorio" || "convocatorias")&&(
          <div class="flex gap-4 mt-8">
            {post.data.tourLink && (
              <a
                href={post.data.tourLink}
                target="_blank"
                rel="noopener noreferrer"
                class="bg-gray-600 hover:bg-ceintecciBlue text-white px-4 py-2 rounded-md text-sm font-medium"
                >
                Tour Virtual
              </a>
            )}
            {post.data.reservaLink && (
              <a
                href={post.data.reservaLink}
                target="_blank"
                rel="noopener noreferrer"
                class="bg-gray-600 hover:bg-pink-700 text-white px-4 py-2 rounded-md text-sm font-medium"
              >
                Reserva Aquí
              </a>
            )}
            {post.data.CVLink && (
              <a
                href={post.data.CVLink}
                target="_blank"
                rel="noopener noreferrer"
                class="bg-gray-600 hover:bg-pink-700 text-white px-4 py-2 rounded-md text-sm font-medium"
              >
                Envía tu CV aquí
              </a>
            )}
          </div>
        )}

      </article>
    ))}
  </div>
</Base>
